.labelled-checkbox {

    position: relative;
    padding: 0.35em 0;

    label {
        color: #94938A;
        display:inline-block;
        font-family: $family-sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-left: 10px;
    }

    input[type=checkbox] {
        visibility: hidden;
    }

    span.checkmark {
        display:inline-block;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 3px solid transparent;
        background: transparent;
        position: absolute;
        left:0;
        top:11px;
    }

    input[type=checkbox]:checked ~ span.checkmark {
        background: #BAB9B6;
    }

    input[type=checkbox]:hover ~ span.checkmark {
        background: #FFFFFF;
        border: 3px solid #C7C7C7;
        width: 16px;
        height: 16px;
    }

    input[type=checkbox]:checked:hover ~ span.checkmark {
        background: #BAB9B6;
        border: 3px solid transparent;
        width: 14px;
        height: 14px;
    }

}