.loading__overlay {
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;

  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.is-active {
    display: flex
  }

  &.is-full-page {
    position: fixed;

    .loading__icon:after {
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
    }
  }
  .loading__background {
    background: #7f7f7f;
    background: hsla(0,0%,100%,.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .loading__icon {
    position: relative;
    span { display: none; }
    &:after {
      position: absolute;
      top: calc(50% - 1.5em);
      left: calc(50% - 1.5em);
      width: 3em;
      height: 3em;

      animation: spinAround .5s infinite linear;
      border: 2px solid #209cee;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: '';
      display: block;
      position: relative;
    }
  }

}