.search-page {

    .columns {
        align-items: flex-start;
    }

    .column.filters {

        margin-top: 50px;
        padding: 131px 0 0 0;
        border-radius: 12px;
        background: #BAB9B6;
        position: relative;

        .accordions::before {
            content: '';
            background: url(#{$image-path}/home_A_nav.svg) top -2px left / auto 166px no-repeat;
            display: block;
            width: 250px;
            height: 164px;
            position: absolute;
            top:0;
            left:0;
        }

        .accordions {

            background: #E5E4E0;
            padding: 82px 0 50px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            .accordion {
            }

            .accordion-header {
                position: relative;
                color: #8B8A7E;
                padding: 0.75em 1em;
            }

            button.toggle {
                border: none;
                background: url(#{$image-path}/home_Menu_open.svg) center / contain no-repeat;
                width: 23px;
                height: 22px;
                position: absolute;
                right: 0.75em;
                top:14px;
            }

            .accordion.is-active .accordion-header {
                background-color: #D9D8D3;
            }

            .accordion.is-active button.toggle {
                background: url(#{$image-path}/home_Menu_close.svg) center / contain no-repeat;
            }

            .accordion-body {
                background-color: #EFEFEC;
                padding: 0 1em;

                .accordion-content ul {
                    padding: 0.75em 0;
                }
            }

        }


    }

    .filters-sort-options {
        margin-bottom: 50px;

        h4 {
            font-family: $family-sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #676137;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
    }
}