speechpart {

    &:hover {
        cursor: pointer;
    }
    
}

.speech-parts.content {
    & > p {
        font-family: $family-sans-serif;
        font-size: 1.25em;
        line-height: 1.75;
    }
}


.speech-part {

    &:hover {
        cursor: pointer;
    }

    &.navbar {
        opacity: 0.5;
    }

    &.navbar-item {
        &:hover{
            background: $yellow;
        }
        text-transform: capitalize;
        padding: 0 6px !important;
    }

}

.speech-part, speechpart {

    padding: 0.35em;
    border-radius: 5px;

    &.type-01.active, &.type-01:hover, &[type='1'] {
        background-color: #f2e9d0;
    }
    &.type-02.active, &.type-02:hover, &[type='2'] {
        background-color: #c3aed6;
    }
    &.type-03.active, &.type-03:hover, &[type='3'] {
        background-color: #edcfa9;;
    }
    &.type-04.active, &.type-04:hover, &[type='4'] {
        background-color: #bfdcae;
    }
    &.type-05.active, &.type-05:hover, &[type='5'] {
        background-color: #bad7df;
    }
    &.type-06.active, &.type-06:hover, &[type='6'] {
        background-color: #ffe2e2;
    }
    &.type-07.active, &.type-07:hover, &[type='7'] {
        background-color: #99ddcc;
    }
    &.type-08.active, &.type-08:hover, &[type='8'] {
        background-color: #f7e7bd;
    }
    &.type-09.active, &.type-09:hover, &[type='9'] {
        background-color: #9cada4;
    }
    &.type-10.active, &.type-10:hover, &[type='10'] {
        background-color: #5c8d89;
    }
}

.inner-navbar {

    padding: 0;

    .speech-part-item {

        display: inline-block;

        .navbar-item {
            display: inline-block;
            margin: 0;
            font-family: $family-secondary;
            font-weight: normal;
            font-size:16px;
        }

        &:not(:last-child)::after {
            content:'|';
            margin: 0 4px;
        }

    }
}
