speechpart {

    &:hover {
        cursor: pointer;
    }
    

  // 36 loop iterations
  @for $i from 1 through 36 { 
    &:nth-of-type(#{$i}) {
      // multiply by 10 for larger hue increments
      background: hsl($i * 40, 70%, 50%);
    }
  }
}

.speech-parts.content {
    & > p {
        font-family: $family-sans-serif;
        font-size: 1.25em;
        line-height: 1.75;
    }
}

.speech-part {

    &:hover {
        cursor: pointer;
    }

    &.navbar-item {
        &:hover{
            background: $yellow;
            border-radius: 3px;
        }
        padding-left: 12px !important
    }

    &.type-01.active, &.type-01:hover {
        background-color: #F2F2F2;
    }
    &.type-02.active, &.type-02:hover {
        background-color: #F1EEE4;
    }
    &.type-03.active, &.type-03:hover {
        background-color: #E4F1F0;;
    }
    &.type-04.active, &.type-04:hover {
        background-color: #F1E7E4;
    }
    &.type-05.active, &.type-05:hover {
        background-color: #F0E4F1;
    }
    &.type-06.active, &.type-06:hover {
        background-color: #E4F1E6;
    }
    &.type-07.active, &.type-07:hover {
        background-color: honeydew;
    }
    &.type-08.active, &.type-08:hover {
        background-color: indianred;
    }
    &.type-09.active, &.type-09:hover {
        background-color: yellowgreen;
    }
    &.type-10.active, &.type-10:hover {
        background-color: brown;
    }
}