
.speech-parts.content {
    margin-top: 24px;

    & > p {
        font-size: 1.25em;
        line-height: 1.66;
    }
}

.speech-part, speechpart, .speech-part-item {

    &:hover {
        cursor: pointer;
    }

    padding: 0.35em;
    border-radius: 5px;

    &.type-01.active, &.type-01.nav, &.type-01:hover, &[type='1'] {
        background-color: #f2e9d0;
    }
    &.type-02.active, &.type-02.nav, &.type-02:hover, &[type='2'] {
        background-color: #c3aed6;
    }
    &.type-03.active, &.type-03.nav, &.type-03:hover, &[type='3'] {
        background-color: #edcfa9;;
    }
    &.type-04.active, &.type-04.nav, &.type-04:hover, &[type='4'] {
        background-color: #bfdcae;
    }
    &.type-05.active, &.type-05.nav, &.type-05:hover, &[type='5'] {
        background-color: #bad7df;
    }
    &.type-06.active, &.type-06.nav, &.type-06:hover, &[type='6'] {
        background-color: #ffe2e2;
    }
    &.type-07.active, &.type-07.nav, &.type-07:hover, &[type='7'] {
        background-color: #99ddcc;
    }
    &.type-08.active, &.type-08.nav, &.type-08:hover, &[type='8'] {
        background-color: #f7e7bd;
    }
    &.type-09.active, &.type-09.nav, &.type-09:hover, &[type='9'] {
        background-color: #9cada4;
    }
    &.type-10.active, &.type-10.nav, &.type-10:hover, &[type='10'] {
        background-color: #8fc0a9;
    }
    &.type-11.active, &.type-11.nav, &.type-11:hover, &[type='11'] {
        background-color: rgb(174, 243, 211);
    }
    &.type-12.active, &.type-12.nav, &.type-12:hover, &[type='12'] {
        background-color: #ebcfc4;
    }
    &.type-13.active, &.type-13.nav, &.type-13:hover, &[type='13'] {
        background-color: #dd9866;
    }
    &.type-14.active, &.type-14.nav, &.type-14:hover, &[type='14'] {
        background-color: #aaaaaa;
    }
}

.show-all-speechparts {
    border-radius: 5px;
    margin-right: 6px !important;
    height: 42px;

    font-family: "Roboto", sans-serif !important;
    font-size: 16px  !important;
    color: #9B9B9B  !important;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    outline: none; // this one
    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    &::-moz-focus-inner {
        border: 0;
      }
}

.inner-navbar {


    padding: 0;

    .speech-part-item {

        display: inline-block;
        padding: 2px !important;
        margin-right: 6px !important;
        margin-bottom: 6px;

        .navbar-item {
            display: inline-block;
            margin: 0;
            font-family: $family-secondary;
            font-weight: normal;
            font-size:16px;
            padding-left: 12px;
        }

    }
}
