.section-tabs.tabs:not(:last-child) {
    margin-bottom: 0.75rem;
}

.section-tabs.tabs ul {
    border-color: $yellow;
    border-bottom-width: 4px;
    border-top-width: 1px;
    border-top-style: solid;
}

.section-tabs.tabs li a {
    border: none;
    color:$black;
    font-family: $family-sans-serif;
    font-weight:$weight-medium;
    font-size: 14px;
    line-height: 15px;
    margin: 12px 70px 12px 0;
    text-transform: uppercase;
}

.section-tabs.tabs li.is-active a, .commentaries-tabs.tabs li.is-active a {
    color:$black;
    background: $yellow;
    border-radius: 3px;
    border-bottom:none;
}

.commentaries-tabs.tabs li a {
    border: none;
    color:$black;
    font-family: $family-sans-serif;
    font-weight:$weight-medium;
    font-size: 14px;
    line-height: 15px;
    margin: 6px 12px 6px 0;
    text-transform: uppercase;
}

