.tooltip {
    .tt-content {
        text-align: left !important;
        text-justify: auto;
    } 
    .tt-title {
        font-weight: bold;
        font-size: 1.25em;
        margin-bottom: 1em;
    }
}