.tooltip {
    .tt-title {
        font-weight: bold;
        font-size: 1.40em;
    }
    .tt-content {
        margin-top: 0.6em;
        text-align: left !important;
        font-size: 1.15em;
        margin-bottom: 0.8em;
    } 
}

