.workflow-step-radio {
    &:hover {
      cursor: default;
    }
  }
  
  .selected-step {
    //text-decoration: underline;
    font-weight: bold !important;
  }
  
  .sub-step-divider {
    border-left: 1px solid lightgrey;
    margin-right: 12px;
    margin-left: 8px;
    padding-left: 14px;
  }