// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$white: #FFFFFF;
$black: #000000;
$yellow:#FFD500;

// Update Bulma's global variables
$grey-dark: #9B9B9B;
$grey-darker: #4A4A4A;
$grey-light: #E5E4E0;
$grey-lighter: $grey-light;

$primary: $yellow;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;