$font-body: "Montserrat", Helvetica, SegoeUI, Arial, sans-serif;
$font-alt: 'IBM Plex Sans', sans-serif;
$info: 'black';
$font-size-base: 16px;
$line-height-base: 2rem;
$image-path: '/lettres/static/images'

