persname {
    @extend .is-light;
    @extend .tag;
    display: inline !important;
    //height: 1.5rem !important;
    font-size: 1em !important;
    padding-right: 0.25em !important;
    padding-left: 0.25em !important;

    &:hover {
        @extend .is-info;
        cursor: pointer;
    }
}