placename {
    @extend .tag;
    @extend .is-light;
    height: 1.5rem !important;
    font-size: 1em !important;
    padding-right: 0.5em !important;
    padding-left: 0.5em !important;

    &:hover {
        @extend .is-info;
        cursor: pointer;
    }
}